.loaderContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sora', sans-serif;
  color: #096a09;
  font-size: 1.5rem;
}

.typing {
  border-right: 2px solid #096a09;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 0.8s step-start infinite;
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}
